<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% issue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_field :Description %>
  </div>

  <div class="field">
    <%= form.label :Type %>
    <%= form.select :Type,["bug","enhancement","proposal","task"],selected:"bug"  %>
  </div>

  <div class="field">
    <%= form.label :Priority %>
    <%=  form.select :Priority,["trivial","minor","major","critical","blocker"],selected:"major" %>
  </div>

  <div class="field">
    <%= form.label :Status %>
    <%= form.text_field :Status %>
  </div>

  <div class="field">
    <%= form.label :Asigned %>
    <%= form.collection_select :Asigned, User.all ,:first_name,:first_name,{:include_blank => 'No assigned user'} %>
  </div>

  <div class="field">
    <%= form.label :Creator %>
    <%= form.text_field :Creator %>
  </div>


  

  <div class="field">
    <%= form.label :Vote %>
    <%= form.number_field :Vote %>
  </div>

  <div class="field">
    <%= form.label :Watch %>
    <%= form.number_field :Watch %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
