<style>
   body{
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}
</style>


<body>

<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% issue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <h2>Issue</h2>
  
  <style>
    div.actions{
       align-items: flex-end;
    }
  </style>

  <div class="form-group" style=margin-left:100px>
    <%= form.label :Title %>
    <%= form.text_field :Title %>
  </div>

  <div class="form-group"style=margin-left:100px>
    <%= form.label :Description %>
    <%= form.text_field :Description %>
  </div>

  <div class="form-group" style=margin-left:100px>
        <%= form.label :Type %>
    <%= form.select :Type,["bug","enhancement","proposal","task"],selected:"bug"  %>
  </div>

  <div class="form-group" style=margin-left:100px>
    <%= form.label :Priority %>
    <%=  form.select :Priority,["trivial","minor","major","critical","blocker"],selected:"major" %>
  </div>

  <div class="field">
  <%= form.label :Status %>
    <%=  form.select :Status,["new","open","resolved","on hold","invalid","duplicate","wontfix","closed"],selected:"major" %>
  </div>

  <div class="form-group" style=margin-left:100px>
    <%= form.label :Asigned %>
    <%= form.collection_select :Asigned, User.all ,:first_name,:first_name,{:include_blank => 'No assigned user'} %>
  </div>
  
   <div class="form-group" style=margin-left:100px>
    <%= form.label :file %>
    <%= form.file_field :file %>

  </div>

  <div class="field">
    <%= form.hidden_field :Creator, value: current_user.id %>
  </div>
  
  <div class="field" >
    <%= form.hidden_field :Updated, value: Time.now %>
  </div>


  

  <div class="field">
    <%= form.hidden_field :Vote, value: 0 %>
  </div>

  
  <div class="field">
    <%= form.hidden_field :Watch, value: 0 %>
  </div>
  <br>

  <div class="d-flex flex-row-reverse  aui-button-primary " style=margin-right:50px >
    <%= form.submit %>
  </div>
<% end %>

</body>