<p id="notice"><%= notice %></p>

<h1>Issues</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Type</th>
      <th>Priority</th>
      <th>Status</th>
<<<<<<< HEAD
      <th>Asignee</th>
=======
      <th>Assigned</th>
>>>>>>> dead917efe6133b59bc33d370aec9cc3284ad0a7
      <th>Creator</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Vote</th>
      <th>Watch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.title %></td>
        <td><%= issue.description %></td>
        <td><%= issue.type %></td>
        <td><%= issue.priority %></td>
        <td><%= issue.status %></td>
<<<<<<< HEAD
        <td><%= issue.asignee %></td>
=======
        <td><%= issue.assigned %></td>
>>>>>>> dead917efe6133b59bc33d370aec9cc3284ad0a7
        <td><%= issue.creator %></td>
        <td><%= issue.created %></td>
        <td><%= issue.updated %></td>
        <td><%= issue.vote %></td>
        <td><%= issue.watch %></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
