<p id="notice"><%= notice %></p>

<h1>Issues</h1>
<p align="right"><Strong>Logged in as </Strong>
<%=current_user.first_name%>
&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to 'Logout', logout_url %>


</p>
<table class="table " style = margin: 10px -10px 15px 20px >
  <thead>
    <tr>
       <th scope="col">Title</th>
      <th scope="col">Type</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Asigned</th>
      <th scope="col">Creator</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
      <th scope="col">Vote</th>
         <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
     <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.Title %></td>
        <td><%= issue.Type %></td>
        <td><%= issue.Priority %></td>
        <td><%= issue.Status %></td>
        <td><%= issue.Asigned %></td>
        <td><%= User.find(issue.Creator).first_name %></td>
        <td><%= issue.Created %></td>
        <td><%= issue.Updated %></td>

        <td><%= issue.get_upvotes.size %></td>
        <td><%= issue.Watch %></td>
        <td><%= link_to 'Show', issue %></td>
        <% if User.find(issue.Creator).id == current_user.id %>
          <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
          <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<button type="button" class=" btn-outline-primaryk"><%= link_to 'NEW ISSUE', new_issue_path %></button>


<br><br>
<li class="pv1">
  <%= link_to 'All Issues', issues_path %>
</li>

<li class="pv1">
  <%= link_to 'My Issues', issues_path(issue_creator: current_user) %>
</li>


<h2>Filters</h2>

<li class="pv1">
  <%= link_to 'Bugs', issues_path(issue_type: "bug") %>
</li>
<li class="pv1">
  <%= link_to 'Enhancements', issues_path(issue_type: "enhancement") %>
</li>
<li class="pv1">
  <%= link_to 'Proposals', issues_path(issue_type: "proposal") %>
</li>
<li class="pv1">
  <%= link_to 'Tasks', issues_path(issue_type: "task") %>
</li>

</br>


<li class="pv1">
  <%= link_to 'New', issues_path(issue_status: "new") %>
</li>
<li class="pv1">
  <%= link_to 'Open', issues_path(issue_status: "open") %>
</li>
<li class="pv1">
  <%= link_to 'Resolved', issues_path(issue_status: "resolved") %>
</li>
<li class="pv1">
  <%= link_to 'On Hold', issues_path(issue_status: "on hold") %>
</li>
<li class="pv1">
  <%= link_to 'Invalid', issues_path(issue_status: "invalid") %>
</li>
<li class="pv1">
  <%= link_to 'Duplicate', issues_path(issue_status: "duplicate") %>
</li>
<li class="pv1">
  <%= link_to 'Wontfix', issues_path(issue_status: "wontfix") %>
</li>
<li class="pv1">
  <%= link_to 'Closed', issues_path(issue_status: "closed") %>
</li>

</br>

<li class="pv1">
  <%= link_to 'Trivial', issues_path(issue_priority: "trivial") %>
</li>
<li class="pv1">
  <%= link_to 'Minor', issues_path(issue_priority: "minor") %>
</li>
<li class="pv1">
  <%= link_to 'Major', issues_path(issue_priority: "major") %>
</li>
<li class="pv1">
  <%= link_to 'Critical', issues_path(issue_priority: "critical") %>
</li>
<li class="pv1">
  <%= link_to 'Blocker', issues_path(issue_priority: "blocker") %>
</li>