<style>
   body{
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
</style>
<body>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.Description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @issue.Type %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @issue.Priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.Status %>
</p>

<p>
  <strong>Asigned:</strong>
  <%= @issue.Asigned %>
</p>

<p>
  <strong>Creator:</strong>
  <%= User.find(@issue.Creator).first_name %>
</p>

<p>
  <strong>Created:</strong>
  <%= @issue.Created %>
</p>

<p>
  
  <strong>Updated:</strong>
  <%= @issue.Updated %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @issue.get_upvotes.size %>
</p>

<p>
  <strong>Watch:</strong>
  <%= @issue.Watch %>
</p>

<p>
 <% if @issue.file.attached? %>

     <strong>Attachment:</strong>
   <%= link_to 'View', @issue.file %>
   
               <%end%>

</p>
<p>
  <%= link_to "Vote", like_issue_path(@issue.id), method: :put, class: "btn btn-warning btn-xs" %><span class="text-warning">
  <%= link_to "Unvote", dislike_issue_path(@issue.id), method: :put, class: "btn btn-success btn-xs" %><span class="text-success">
</p>

<p>
  <%= link_to "Watch", watch_issue_path(@issue.id), method: :put, class: "btn btn-warning btn-xs" %>
  <%= link_to "Unwatch", unwatch_issue_path(@issue.id), method: :put, class: "btn btn-success btn-xs" %>
</p> 

<div class="issue-comments-container">
  <h2>Comments (<%= @issue.comments.size %>)</h2>
    <% @issue.comments.each do |comment| %>
      <div class="comentari">
        <p class="comenter">
          <strong><%= comment.user.first_name %></strong>
          </p>
          <p class="coment">
            <%= comment.body %>
            </br>
              </p>
              <%= time_ago_in_words(comment.created_at) + " ago" %>
              <% if comment.user.id == current_user.id %>
              <%= link_to 'Delete Comment', [comment.issue, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } , class: "esborrar" %>
              <% end %>
              </div>
              </br>
              <% end %>
              <%= form_with(model: [@issue, @issue.comments.build], local: true) do |form| %>
              <div class="input-group">
                <%= form.text_area :body, placeholder:'Write your comment' %>
                </div>
                <div class="actions">
                  <%= form.submit %>
                </div>
    <% end %>
</div>
<br>
<% if User.find(@issue.Creator).id == current_user.id %>
  <%= link_to 'Edit', edit_issue_path(@issue) %>
<%end%>
<%= link_to 'Back', issues_path %>
</body>