<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>&nbsp;</th>

      <th>Name</th>
      <th>&nbsp;</th>

      <th>Token</th>
       <th>&nbsp;</th>
        <th>tokens</th>

      
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>&nbsp;</td>

        <td><%= user.first_name %></td>
        <td>&nbsp;</td>

        <td><%= user.token %></td>
        <td>&nbsp;</td>
        <td><%= user.uid %></td>


       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

